---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: mirror.gcr.io/envoyproxy/gateway-helm
    chart: gateway-helm
    targetRevision: v1.6.0
    helm:
      valuesObject:
        global:
          imageRegistry: mirror.gcr.io
        config:
          envoyGateway:
            provider:
              type: Kubernetes
              kubernetes:
                deploy:
                  type: GatewayNamespace
  destination:
    server: https://kubernetes.default.svc
    namespace: network
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 5m
