---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: k8s-gateway
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: ghcr.io/k8s-gateway/charts
    chart: k8s-gateway
    targetRevision: 3.2.8
    helm:
      valuesObject:
        fullnameOverride: k8s-gateway
        domain: "${SECRET_DOMAIN}"
        ttl: 1
        service:
          type: LoadBalancer
          port: 53
          annotations:
            lbipam.cilium.io/ips: "#{ cluster_dns_gateway_addr }#"
          externalTrafficPolicy: Cluster
        watchedResources: ["HTTPRoute", "Service"]
  destination:
    server: https://kubernetes.default.svc
    namespace: network
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 5m
