---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - ./envoy-gateway.yaml
  - ./envoy-config.yaml
  - ./k8s-gateway.yaml
  - ./tailscale-operator.yaml
  - ./tailscale-secret.sops.yaml
