---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - ./kube-system
  - ./cert-manager
  - ./network
  # Add additional application directories here as needed
  # - ./default  # For demo/test applications
