---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - ./kube-system
  # TODO: Add remaining application categories:
  # - ./cert-manager
  # - ./network
  # - ./default
